
fastapi
uvicorn
opencv-python-headless
Pillow
numpy
torchvision
regex
ftfy
sentencepiece
requests
python-multipart
gunicorn

clip @ git+https://github.com/openai/CLIP.git@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1

# CLIP
transformers
torch
# MediaPipe
mediapipe
# DB 연결용
sqlalchemy
mysqlconnector-python
django
#.env
python-dotenv
